*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #434455;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
 }

 h1,
 h2,
 h3,
 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 ul {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

 img {
     display: block;
     max-width: 100%;
     object-fit: cover;
 }

 .container {
     max-width: 1158px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .page-header {
    flex-shrink: 0;
     border-bottom: 1px solid #e7e9fc;

 }

 .page-header .container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }

 .nav-title {
    display: flex ;
    align-items: center;
    margin-right: auto;
 }
 
 .logo {
    font-family: "Raleway",
        sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    text-transform: uppercase;
 }

  .logo-studio {
color: #2E2F42;
 }

 .page-nav {
     display: flex;
     gap: 40px;
    margin-right: auto;
    
 }

 .page-nav .link {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    

 }

 .page-nav .link:hover,
 .page-nav .link:focus {
    color: #404BBF
 }

 .page-address-title {
     font-style: normal;
 }

.page-address {
    font-style: normal;
    display: flex;
    gap: 40px;
   
}

 .page-address .address-link {
    display: block;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
     }

 .page-address .address-link:hover,
 .page-address .address-link:focus {
    color:#404BBF
 }

 .section-page-title {
    background: #2E2F42;
    flex-shrink: 0;
    padding: 188px 0;
     }

 .page-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
}

.title-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.title-button:hover,
.title-button:focus {
     background-color: #404BBF;
    }

.section-advantages {
    padding: 120px 0;
}



.section-advantages .section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.section-advantages .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title-advantages {
display: flex;
gap: 24px;
}

.section-advantages-item {
    width: calc((100% - 72px) / 4)
    }

.section-title-advantages .title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
}
.section-title-advantages .text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.section-team-title {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-team-title .section-title {
    margin: 0 auto 72px auto;
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }


.section-team-title .section-our-team {
    display: flex;
    gap: 24px;
    
}

.section-our-team .section-title-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.section-our-team .name-profession {
padding: 32px 0;
}

.name-profession .title {
    margin-bottom: 8px;
    text-align: center;
}

.name-profession .text {
    text-align: center;
    }

.section-portfolio-title {
    padding: 120px 0;
}

.section-portfolio-title .section-title {
    margin-bottom: 72px;
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;


}
.section-portfolio-title .section-our-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-our-portfolio .section-title-item {
width: calc((100% - 48px) / 3);
}

.section-our-portfolio .application-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.application-name .title {
margin-bottom: 8px;

}

.section-title-item .title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-title-item .text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background: #2E2F42;
    padding: 100px 0;
    }

.page-footer .logo-footer {
    font-family: "Raleway",
        sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.page-footer .logo-studio {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    display: inline-block;
}
.page-footer .footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}
















    